<%- include('header.ejs') %>

<main>
	<inner-column>
		<h1 class="loud-voice">Adopt a Monstar</h1>
	</inner-column>

	<inner-column>
	<ul class="card-list">
		<% monsters.forEach(function(monster) { %>
			
			<monster-card>
					<li>
						<a href="monsters/<%= monster.slug %>">
							<h3 class="attention-voice"> <%=monster.name %> 
							</h3>
						</a>
						<p class="normal-voice"> Position: <%=monster.position %> </p>
						<p class="normal-voice"> Number: <%=monster.number %> </p>
						<p class="normal-voice"> Favorite Color: <%=monster.color %> </p>
					
						
							<% if(monster.adopted) { %> 
								<p class="normal-voice">I'm adopted</p>
							<% } else { %>
								<p class="normal-voice">I need a home!</p>
							<% } %>
					</li>
				</monster-card>	

		<% }); %>
	</ul>		
	</inner-column>	
</main>

<%- include('footer.ejs') %>