<%- include('header.ejs') %>
<main>
	<inner-column>
		<h1>Home</h1>
	</inner-column>

	<inner-column>
	<ul class="card-list">
		<% monstarsData.forEach(function(player) { %>
			
			<li class="player-card">
				<img src="assets/<%=player.image %>" alt="">
				<h3 class="attention-voice"> <%=player.name %> </h3>
				<p> Position: <%=player.position %> </p>
				<p> Number: <%=player.number %> </p>
				<p> Color: <%=player.color %> </p>
				
			</li>			

		<% }); %>
	</ul>		
	</inner-column>	
</main>

<%- include('footer.ejs') %>